<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBaseCourseWork.AuthorizationSystem.Properties.Settings.con"
            connectionString="Data Source=SQL8005.site4now.net;&#xA;Initial Catalog=db_a9c366_coursework;User Id=db_a9c366_coursework_admin;Password=flyg919st;" />
    </connectionStrings>
</configuration>